body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: rebeccapurple;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
pre {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 500;
    font-size: large;
}
#home {
    padding: 50px;
    text-align: center;
}
#albums, #movies, #contact {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}
.album-container, .movie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.album, .movie, .person {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
}
.album img, .movie img, .person img {
    width: 100%;
}
.about {
    display: flex;
}
.about-left {
    width: 60%;
    margin-right: 200px;
    align-content: center;
}
.about-right {
    width: 39%;
}
#player {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: rebeccapurple;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.player-controls {
    margin: 20px 0;
}
.task-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.contact_container {
    display: flex;
    height: 250px;
}
.container_left {
    width: 50%;
}
.container_left img {
    height: 200px;
    width: auto;
}
.container_right {
    width: 50%;
    text-align: left;
    padding-top: 20px;
}
.container_right a{
    text-decoration: none;
    color: #333;
}
.container_right i {
    color: rebeccapurple;
    margin-right: 20px;
    font-size: 800;
}
.social_icons {
    width: 100%;
    /* background-color: yellow; */
    padding-top: 10px;
}
.social_icons h3 {
    text-align: center;
    padding-bottom: 10px;
}
.social_icons i {
    font-size: larger;
    margin-left: 100px;
}

@media (max-width: 600px) {
    #home {
        padding: 0px; 
    }
    .about {
        display: none; 
    }
    #albums, #movies {
        padding-top: 5px;
    }
    #contact {
        padding: 10px;
    }
    .album, .movie, .person {
        width: calc(100% - 20px); 
        margin: 0 auto;
    }
    .contact_container {
        height: 300px;
        width: 100%;
        padding-bottom: 0;
    }
    .container_left {
        width: 50%; 
    }
    .container_right {
        width: auto;
    }
    .container_left img {
        padding-top: 40px;
        height: auto;
        width: 80%;
    }
    .social_icons {
        text-align: center;
    }
    .social_icons i {
        margin-left: 2px;
    }
    footer {
        width: 100%;
        background-color: rebeccapurple;
        color: white;
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    /* Styles for devices with width between 600px and 800px */
    .about-left {
        width: 100%
        text-align: center;
    }
    .about-right {
        width: 0;
    }
    .about-right img {
        display: none;
    }
    .about-left {
        width: 100%;
        margin-right: 20px;
        align-content: center;
    }
    .social_icons{
        text-align: center;
    }
    .social_icons i {
        margin-left: 7px;
    }
}
@media (min-width: 901px) {
    .about-left {
        width: 100%;
    }
    .about-right {
        margin-left: -150px;
        padding-left: 0;
    }
    .social_icons{
        text-align: center;
    }
    .social_icons i {
        margin-left: 20px;
    }
}
